<div>Sample Header</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <form-edit-crm-attr-test-form1
    (formReady)="initForm($event)"
    [options]="{ flexLeft: 40 }"
  ></form-edit-crm-attr-test-form1>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loading || form.invalid"
    >
      Submit Main Form
    </button>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
</form>

<div *ngIf="formValues">
  <h3>Preview:</h3>
  <form-preview-crm-attr-test-form1
    [values]="formValues"
  ></form-preview-crm-attr-test-form1>
  <pre>Debug: FormValues = {{ formValues | json }}</pre>
</div>

<div>Sample Footer</div>
