<div>Sample Header</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <crm-attr-test-form1-edit (formReady)="initForm($event)"></crm-attr-test-form1-edit>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loading || form.invalid"
    >
      Submit
    </button>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
</form>

<div *ngIf="formValues">
  <crm-attr-test-form1-preview [values]="formValues"></crm-attr-test-form1-preview>
  <pre>FormValues = {{ formValues | json }}</pre>
</div>

<div>Sample Footer</div>
