<form [formGroup]="form">
  <mat-form-field appearance="outline" class="form-string">
    <mat-label i18n="@@form-label-crm-attr-test-form1-object1-obj1_str1">
      Label Object 1 - String 1
    </mat-label>
    <input
      matInput
      formControlName="obj1_str1"
      placeholder="Placeholder Object 1 - String 1"
      i18n-placeholder="
        @@form-placeholder-crm-attr-test-form1-object1-obj1_str1"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-number">
    <mat-label i18n="@@form-label-crm-attr-test-form1-object1-obj1_num1">
      Label Object 1 - Number 1
    </mat-label>
    <input
      matInput
      formControlName="obj1_num1"
      placeholder="Placeholder Object 1 - Number 1"
      i18n-placeholder="
        @@form-placeholder-crm-attr-test-form1-object1-obj1_num1"
    />
  </mat-form-field>
</form>
