<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label i18n="@@form-label-obj1_str1">Object1 String1</mat-label>
    <input
      matInput
      formControlName="obj1_str1"
      placeholder="Enter Obj1 Str1"
      i18n-placeholder="@@form-label-obj1_str1"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n="@@form-label-obj1_num1">Object1 Number1</mat-label>
    <input
      matInput
      formControlName="obj1_num1"
      placeholder="Enter Obj1 Num1"
      i18n-placeholder="@@form-label-obj1_num1"
    />
  </mat-form-field>
</form>
