<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label i18n="@@form-label-crm-attr-test-form1-array1-arr1_str1">
      Label Array 1 - String 1
    </mat-label>
    <input
      matInput
      formControlName="arr1_str1"
      placeholder="Placeholder Array 1 - String 1"
      i18n-placeholder="@@form-placeholder-crm-attr-test-form1-array1-arr1_str1"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label i18n="@@form-label-crm-attr-test-form1-array1-arr1_num1">
      Label Array 1 - Number 1
    </mat-label>
    <input
      matInput
      formControlName="arr1_num1"
      placeholder="Placeholder Array 1 - Number 1"
      i18n-placeholder="@@form-placeholder-crm-attr-test-form1-array1-arr1_num1"
    />
  </mat-form-field>
</form>
